.container{
    width: 100%;
    max-width: 56.2rem;
    margin: 0 auto;
    padding: 0 6.9rem;
    box-sizing: border-box;
}
.container_cinematheatre{
    padding: 0 4.45rem;
}
.container container__gives{
    margin-right: 0;
    text-align: right;
}
.container_footer{
    padding: 0 3.75rem;
}
   