body{
    font-family: "IBMPlexSans",sans-serif;
}
.cinematheatre{
   color:white;
   background-image: url('../images/foncinema.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.cinematheatre__header{
    padding: 51px 0;
    display: flex;
    justify-content: space-between;
}
.cinematheatre__logo{
   display: block;
   margin-right: 44px; 
}
.cinematheatre__up
.cinematheatre__line{
    display: flex;
}
.cinematheatre_tel,
.cinematheatre_mail,
.cinematheatre_adress{
    display: inline-block;
    color: white;
    font-size: 12px;
}
.cinematheatre_call{
    display: inline-block;
}
.cinematheatre_tel,
.cinematheatre_mail,
.cinematheatre_adress,
.cinematheatre_call{
    margin-right: 50px;
}
.cinematheatre_lng{
    color: white;
    font-size: 12px;
}   
.cinematheatre_lng-change{
    display: inline-block;
    position: relative;
}
.cinematheatre_lng-svg{
    fill: white;
}
.table{
    border-collapse:collapse;
    width: 100%;
}
.table__heading{
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    color: rgba(163, 204, 64, 1);
    ;
}
.table__row{
    height: 45px;
    background-color: rgba(163, 204, 64, 1);
}
.table__row_darkgrey{
    background-color: rgba(55, 55, 55, 1);
}
.table__row_lightgrey{
    background-color: rgba(76, 77, 79, 1);
}
.table__line{
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align-last: left;
    padding-left: 10px;
}
.table__line_borderright{
    border-top-right-radius: 10px ;
}
.table__line_borderleft{
    border-top-left-radius: 10px;
    width: 50px;
}
.table__column{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-left: 10px;
}
.table__column_check{
    padding-left: 25px;
}
.table__column_time{
    color: white;
}
.table__column_bottomright{
    border-bottom-right-radius: 10px;
}
.table__column_bottomleft{
    border-bottom-left-radius: 10px;
    padding-left: 25px;
}
.table__link{
    color: white;
    text-decoration: none;
}
.table__arrow{
padding-left: 5px;
padding-bottom: 2px;
}
.table__footer{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.header{
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    color: rgba(163, 204, 64, 1);
}
