html {
    overflow-x: hidden;
  }
  
  body {
    font-family: "IBMPlexSans",sans-serif;
    
  }
  .cinematheatre {
    position: relative;
    padding: 51px 0 200px;
    color: white;
    background-image: url('../images/foncinema_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .cinematheatre::after {
    content: '';
    display: block;
    width: 100%;
    border: 100vw solid transparent;
    border-bottom: 150px solid #fff;
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }
  .cinematheatre__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 151px;
  }
  
  .cinematheatre__line {
    display: flex;
    justify-content: space-between;
  }
  .cinematheatre__line_top {
    margin-bottom: 12px;
  }
  .cinematheatre__call {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    background: #ffffff;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    font-family: 'IBMPlexSans';
  }
  .cinematheatre__call-img {
    margin-right: 7px;
  }
  .cinematheatre__link {
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  .cinematheatre__link_nav {
    text-transform: uppercase;
  }
  .cinematheatre__link:hover {
    color: chartreuse;
    transition: 0.3s;
  }
  .cinematheatre__item:not(:last-child) {
    margin-right: 50px;
  }
  .cinematheatre__select{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

  }
  .cinematheatre__select-en{
    color: rgb(184, 151, 151);
  }
  .cinematheatre__select-ru{
    color: black;
  }
  .cinematheatre__title {
    margin-bottom: 19px;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
  }
  .cinematheatre__subtitle {
    width: 400;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
  }
  .cinematheatre_lng {
    color: white;
    font-size: 12px;
  }
  .cinematheatre_lng-change {
    display: inline-block;
    position: relative;
  }
  .cinematheatre_lng-svg {
    fill: white;
  }
  .cinema__welcome{
    box-shadow: 0px 27px 39px 0px rgba(163, 204, 64, 0.18);
    position: relative;
    top: 300px;
    left: 50%;
    z-index: 1;
    background-color: white;
    color: black;
    width: 426px;
    height: 221px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    padding: 30px 47px;
  }
  .welcome{
    font-weight: 600;
    font-size: 33px;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .cinema__welcome-welcome{
    padding-bottom: 20px;
  }
  #why{
    padding-top: 60px;
  }
  .cinema__why{
    font-weight: 500;
    font-size: 48px;
    color: rgba(163, 204, 64, 1);
    padding-bottom: 84px;
  }
  .cinema__why-row{
    width: 1124px;
    display: table;
    display: flex;
    flex-wrap: wrap;
  }
  .cinema__why-float{
    display: table-cell;
    float: left;
    max-width: 33,33%;
  }
  .cinema__why-once{
    display: table-cell;
    float: left;
    max-width: 33,33%;
    padding: 14px;
  }
  .cinema__why-center{
    padding: 0 55px;
  }
  .cinema__why-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    width: 245px;
    height: 338px;

  }
  .cinema__why-image{
    border-radius: 10px;
  }
  .cinema__why-head{
    font-weight: 600;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    padding: 27px 0 25px 0;
  }
  .cinema__why-lorem{
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    width: 245px;
    height: 83px;
    overflow: hidden;
    padding-bottom: 29px;
  }
  .header {
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    color: rgba(163, 204, 64, 1);
    padding: 144px 0 84px 0;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  .table__heading {
    font-style: normal;
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    color: rgba(163, 204, 64, 1);
  }
  .table__row {
    height: 45px;
    background-color: rgba(163, 204, 64, 1);
  }
  .table__row_darkgrey {
    background-color: rgba(55, 55, 55, 1);
  }
  .table__row_lightgrey {
    background-color: rgba(76, 77, 79, 1);
  }
  .table__line {
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align-last: left;
    padding-left: 10px;
  }
  .table__line_borderright {
    border-top-right-radius: 10px;
  }
  .table__line_borderleft {
    border-top-left-radius: 10px;
    width: 50px;
  }
  .table__column {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding-left: 10px;
  }
  .table__column_check {
    padding-left: 25px;
  }
  .table__column_time {
    color: white;
  }
  .table__column_bottomright {
    border-bottom-right-radius: 10px;
  }
  .table__column_bottomleft {
    border-bottom-left-radius: 10px;
    padding-left: 25px;
  }
  .table__link {
    color: white;
    text-decoration: none;
  }
  .table__arrow {
    padding-left: 5px;
    padding-bottom: 2px;
  }
  .tfoot{
    position: static;
  }
  .table__footer {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

  }
  .gives{
    background-image: url('../images/Group 43.jpg');
    position: relative;
    padding: 200px 0 150px;
    color: white;
    background-position: center;
    background-size: cover;
  }
  .gives::before{
    content: '';
    display: block;
    width: 100%;
    border: 100vw solid transparent;
    border-top: 150px solid #fff;
    top: 0; right: 0;
    position: absolute;
    pointer-events: none; 
  }
  .gives::after{
    content: '';
    display: block;
    width: 100%;
    border: 100vw solid transparent;
    border-bottom: 150px solid #fff;
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }
  .box{
    width: 302px;
    height: 303px;
    position: relative;
    bottom: 200px;
    right: 50px;
  }
  .gives__square{
    padding-bottom: 10px;
    margin-right: 0;
    font-weight: 400;
    font-size: 11px;
    height: 173px;
    width: 548px;
    text-align: right;
    
  }
  .gives__square div{
    padding-bottom: 10px;
  }
  .gives__surprise{
    font-weight: 500;
    font-size: 48px;
    color: white;
    padding-bottom: 38px;
  }
  
  .gives__button{
    background-color:rgba(163, 204, 64, 1);
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 7px 18px;
    border-radius: 10px;
  }
  .films{
    font-weight: 500;
    font-size: 48px;
    color: #A3CC40;
    padding: 55px 0 35px 0;
  }
  .films__lorem{
    font-weight: 400;
    font-size: 11px;
    line-height: 14.3px;
    padding-bottom: 55px;
  }
  .films__catalog{
    
    width: 850px;
    height: 850px;
    background-image: url(../images/catalog.jpg);
  }
  .films__catalog-leo{
    width: 283px;
    height: 283px;
    background-image: url('../images/leave.jpg');
    position: absolute;
    color: #ffffff;
    float: right;
  }
  .films__catalog-leave{
    font-weight: 600;
    font-size: 29px;
    padding: 17px 23px 30px 22px;
  }
  .films__catalog-lorem{
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    padding: 0 23px 111px 22px;
  }
  .goods{
    font-weight: 500;
    font-size: 48px;
    color: #A3CC40;
    padding: 55px 0 35px 0;
  }
  .goods__lorem{
    font-weight: 400;
    font-size: 11px;
    line-height: 14.3px;
    padding-bottom: 55px;
  }
  .goods__image{
    padding: 0 50px;
  }
  #review{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .reviews{
    background-image: url(../images/reviews_fon.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1171.33px;
    height: 792px;
    left: 0;
  }
  .reviews__head{
    font-weight: 500;
    font-size: 48px;
    color: #A3CC40;
    padding: 126px 0 35px 0;
  }
  .reviews__lorem{
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #ffffff;
    padding-bottom: 55px;
  }
  .reviews__people{
    display:inline-flex;
  }
  .reviews__boris{
    padding: 75px 34px 143px 34px;
  }
  .reviews__foto{
    padding: 99.05px 0 166.95px 0;
  }
  .form{
    width: 767px;
    height: 527px;
    padding: 43px 40px 61px 40px
  }
  .form__image{
    position: relative;
    background-image: url(../images/form.jpg);
    background-repeat: no-repeat;
    
  }
  .form__feedback{
    padding: 31px 42px 33px 381px;
  }
  .form__feedback-head{
    font-weight: 500;
    font-size: 25px;
    color: #A3CC40;
    padding-left: 70px;
  }
  .form__feedback-name{
    width: 344px;
    height: 40px;
    background-color: #DEDEDE;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 15px;
    color: #A1A1A1;
    border: 0;
  }
  .form__feedback-seat{
    width: 344px;
    height: 40px;
    background-color: #DEDEDE;
    border-radius: 5px;
    margin-top: 33px;
    padding: 0 16px 0 16px;
    font-weight: 400;
    font-size: 15px;
    color: #A1A1A1;
    border: 0;
  }
  
  